/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    /* Criando distancia entre o h2 e o parágrafo */
}

.sobre .txt-sobre h2 span {
    color: #00ffff;
    display: block;
    /* Colocando o span na linha de baixo */
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
    /* Deixando o final da linha do texto todas alinhadas */
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ffff;
    font-size: 23px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.sobre .img-sobre img {
    height: 500px;
    width: auto;
    border-radius: 45px 9px;
    box-shadow: 0px 0px 8px #00ffff;
}